<h2>
  Seu <strong>Direito de Saber</strong>
</h2>
	<p>Todo o cidadão tem o direito de acessar a informação pública. <strong>Pela lei, eles tem que responder</strong>. <a href="<%= help_about_url %>">Saiba mais sobre o acesso à informação.</a></p>
